/*
    RESET
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
  font-display: swap;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
  /* optional */
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::selection {
  background-color: #2e343a;
  color: #ffffff;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* optional */
  appearance: none;
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  pointer-events: none;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #3E4C59;
  background-color: #3E4C59;
  /* optional */
  /* optional */
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e9e9ea;
    background-color: #e9e9ea;
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.h1,
.h2,
.h3 {
  margin: 1em 0 0.5em 0;
}

.h1 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 3em;
  }
}

.h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .h2 {
    font-size: 2.5em;
  }
}

.h3 {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .h3 {
    font-size: 1.8em;
  }
}

b {
  font-weight: bold;
}

i {
  font-style: oblique;
}

.a {
  width: fit-content;
  color: #BF4B60;
}

@media (prefers-color-scheme: dark) {
  .a {
    color: #ff5b79;
  }
}

.a:hover {
  color: #ff5b79;
}

@media (prefers-color-scheme: dark) {
  .a:hover {
    color: #e9e9ea;
  }
}

.a:hover .react-icons {
  fill: #ff5b79;
}

@media (prefers-color-scheme: dark) {
  .a:hover .react-icons {
    fill: #e9e9ea;
  }
}

.img {
  opacity: 90%;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  .img {
    opacity: 80%;
  }
}

.react-icons {
  vertical-align: middle;
  align-self: center;
  fill: #3E4C59;
}

.headline {
  height: 100vh;
  width: 100%;
  background-color: #3E4C59;
  overflow: hidden;
  opacity: 0;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: appear 0.5s ease-in-out 0s forwards;
}

@media (prefers-color-scheme: dark) {
  .headline {
    background-color: #e9e9ea;
  }
}

.headline:before, .headline:after {
  content: "";
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #e9e9ea;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media (prefers-color-scheme: dark) {
  .headline:before, .headline:after {
    background-color: #3E4C59;
  }
}

.headline:before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 10s;
}

.headline:after {
  bottom: 12vh;
  opacity: .5;
  border-radius: 47%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.headline__h1 {
  text-align: center;
  text-transform: uppercase;
  hyphens: none;
  color: #3E4C59;
  opacity: 0;
  margin: 1em 0;
  z-index: 1;
}

.headline__h1--top {
  animation: appear 0.5s ease-in-out 1s forwards;
}

.headline__h1--bottom {
  animation: appear 0.5s ease-in-out 1.5s forwards;
}

@media (prefers-color-scheme: dark) {
  .headline__h1 {
    color: #e9e9ea;
  }
}

.line {
  height: 1px;
  width: 80vw;
  border: 0.5px solid black;
  opacity: 0;
  z-index: 1;
  animation: appear 0.5s ease-in-out 0.5s forwards;
}

.swipe-up {
  color: #e9e9ea;
  opacity: 0;
  margin: 1em;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  animation: appear 0.5s ease-in-out 2s forwards;
}

@media (prefers-color-scheme: dark) {
  .swipe-up {
    color: #3E4C59;
  }
}

.swipe-up .react-icons {
  animation: move 1s ease-in-out 0s infinite;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
}

.header {
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .header {
    border-color: #e9e9ea;
  }
}

.nav {
  width: 100%;
}

.nav__a {
  width: 100%;
  height: 100%;
  padding: 1em;
  color: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav__a--drop {
  justify-content: end;
}

.nav__ul {
  width: 100%;
  height: 100vh;
  background-color: #e9e9ea;
  border-bottom: 1px solid #3E4C59;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .nav__ul {
    background-color: #3E4C59;
    border-color: #e9e9ea;
  }
}

.nav__dropdown {
  display: none;
}

.collapser {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.collapser__btn {
  height: 4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.collapser__btn .react-icons {
  fill: transparent;
  opacity: 90%;
  transition: fill .5s ease-in-out 0s;
}

.logo {
  width: 2em;
  height: 2em;
}

.logo path {
  fill: transparent;
  opacity: 90%;
  transition: fill .5s ease-in-out 0s;
}

.figure {
  width: fit-content;
  display: flex;
}

.isSticky .react-icons,
.isSticky path {
  fill: #3E4C59;
  transition: fill .5s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
  .isSticky .react-icons,
  .isSticky path {
    fill: #e9e9ea;
  }
}

.main {
  width: 100%;
  text-align: center;
  background-color: #e9e9ea;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .main {
    background-color: #3E4C59;
  }
}

.section {
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 280px) {
  .section {
    padding: 2em .2em;
  }
}

@media screen and (min-width: 768px) {
  .section {
    min-height: 80vh;
  }
}

.section--works {
  width: 100%;
  min-height: fit-content;
}

@media (prefers-color-scheme: dark) {
  .section--works {
    background-color: #3E4C59;
  }
}

.svg-box {
  width: 100%;
  align-self: flex-end;
  justify-self: flex-end;
}

.svg-box line {
  stroke: #3E4C59;
}

@media (prefers-color-scheme: dark) {
  .svg-box line {
    stroke: #e9e9ea;
  }
}

.works__p {
  align-self: flex-start;
}

.article {
  background-color: #e9e9ea;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1em;
}

@media (prefers-color-scheme: dark) {
  .article {
    background-color: #3E4C59;
  }
}

.article__h3 {
  text-align: center;
  margin: 1rem;
  justify-self: center;
  align-self: center;
}

.article__ul {
  font-size: 1.2em;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .article__ul {
    font-size: 1.6em;
  }
}

.article__ul-social {
  font-size: 1.2em;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  justify-self: flex-start;
  gap: 1em;
}

@media screen and (min-width: 768px) {
  .article__ul-social {
    font-size: 1.6em;
  }
}

.article__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.article__link .react-icons {
  fill: #BF4B60;
}

@media (prefers-color-scheme: dark) {
  .article__link .react-icons {
    fill: #ff5b79;
  }
}

.article .article__h3 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  justify-self: center;
}

.article .article__ul {
  text-align: end;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  justify-self: end;
  align-self: center;
}

.article .article__ul-social {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.bio__pic {
  max-width: 7em;
  margin: 0 0 1em 1em;
  float: right;
}

.bio__h2 {
  margin: 0 0 1rem;
}

.bio__p {
  margin: 0 0 1em;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .bio__p {
    font-size: 1.2em;
    line-height: 1.4em;
  }
}

.social {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.social__li {
  margin: 0 1em;
}

.social__a .react-icons {
  width: 2em;
  fill: #3E4C59;
}

@media (prefers-color-scheme: dark) {
  .social__a .react-icons {
    fill: #e9e9ea;
  }
}

@media screen and (min-width: 768px) {
  .social__a .react-icons {
    width: 3em;
  }
}

.social__a:hover .react-icons {
  fill: #ff5b79;
}

.section--contact {
  border-top: 0.5rem dotted #ff5b79;
}

.h2__contact {
  margin-bottom: 1rem;
}

.form {
  position: relative;
}

@media screen and (min-width: 768px) {
  .form {
    width: 20em;
    font-size: 1.2em;
  }
}

.form__input {
  width: 100%;
  border: 1px dashed #3E4C59;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .form__input {
    border: 2px dashed #3E4C59;
  }
}

@media (prefers-color-scheme: dark) {
  .form__input {
    border-color: #e9e9ea;
  }
}

.form__input::placeholder {
  color: #3E4C59;
}

@media (prefers-color-scheme: dark) {
  .form__input::placeholder {
    color: #e9e9ea;
  }
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #e9e9ea;
  padding: 2em 0;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.2em;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #3E4C59;
  }
}

.button {
  color: #3E4C59;
  cursor: pointer;
  padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
  .button {
    color: #e9e9ea;
  }
}

.button:hover {
  color: #ff5b79;
}

.alert {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  padding: 0.5em;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .2s ease-in 0s;
}

.alert--active {
  display: block;
  width: 9em;
  color: inherit;
  transition: .2s ease-in 0s;
}

.alert--fail {
  color: #a45d5d;
}

.show {
  display: block;
}

#eHifOhVAkn53_ts {
  animation: eHifOhVAkn53_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn53_ts__ts {
  0% {
    transform: scale(2, 4.55);
  }
  5% {
    transform: scale(2, 5);
  }
  55% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 4.55);
  }
}

#eHifOhVAkn54_ts {
  animation: eHifOhVAkn54_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn54_ts__ts {
  0% {
    transform: scale(2, 4.3);
  }
  5% {
    transform: scale(2, 5);
  }
  60% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 4.3);
  }
}

#eHifOhVAkn55_ts {
  animation: eHifOhVAkn55_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn55_ts__ts {
  0% {
    transform: scale(2, 4.1);
  }
  10% {
    transform: scale(2, 5);
  }
  65% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 4.1);
  }
}

#eHifOhVAkn56_ts {
  animation: eHifOhVAkn56_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn56_ts__ts {
  0% {
    transform: scale(2, 3.65);
  }
  15% {
    transform: scale(2, 5);
  }
  70% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 3.65);
  }
}

#eHifOhVAkn57_ts {
  animation: eHifOhVAkn57_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn57_ts__ts {
  0% {
    transform: scale(2, 3.2);
  }
  20% {
    transform: scale(2, 5);
  }
  75% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 3.2);
  }
}

#eHifOhVAkn58_ts {
  animation: eHifOhVAkn58_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn58_ts__ts {
  0% {
    transform: scale(2, 2.75);
  }
  25% {
    transform: scale(2, 5);
  }
  80% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 2.75);
  }
}

#eHifOhVAkn59_ts {
  animation: eHifOhVAkn59_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn59_ts__ts {
  0% {
    transform: scale(2, 2.3);
  }
  30% {
    transform: scale(2, 5);
  }
  85% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 2.3);
  }
}

#eHifOhVAkn510_ts {
  animation: eHifOhVAkn510_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn510_ts__ts {
  0% {
    transform: scale(2, 1.85);
  }
  35% {
    transform: scale(2, 5);
  }
  90% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 1.85);
  }
}

#eHifOhVAkn511_ts {
  animation: eHifOhVAkn511_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn511_ts__ts {
  0% {
    transform: scale(2, 1.4);
  }
  40% {
    transform: scale(2, 5);
  }
  95% {
    transform: scale(2, 0.5);
  }
  100% {
    transform: scale(2, 1.4);
  }
}

#eHifOhVAkn512_ts {
  animation: eHifOhVAkn512_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn512_ts__ts {
  0% {
    transform: scale(2, 0.95);
  }
  45% {
    transform: scale(2, 5);
  }
  100% {
    transform: scale(2, 0.95);
  }
}

#eHifOhVAkn513_ts {
  animation: eHifOhVAkn513_ts__ts 2000ms linear infinite normal forwards;
}

@keyframes eHifOhVAkn513_ts__ts {
  0% {
    transform: scale(2, 0.5);
  }
  50% {
    transform: scale(2, 5);
  }
  100% {
    transform: scale(2, 0.5);
  }
}
