/*
    RESET
*/
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* optional */
  object-fit: cover;
  /* optional */
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote::before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::selection {
  background-color: #fbeef3;
  color: #282b38;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* optional */
  appearance: none;
}

textarea:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #fbeef3;
  background-color: #282b38;
  /* optional */
  line-height: 1.4em;
  /* optional */
  hyphens: auto;
  /* optional */
  font-smooth: always;
  /* optional */
  -webkit-font-smoothing: antialiased;
  /* optional */
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

b {
  font-weight: bold;
}

i {
  font-style: oblique;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

.section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 4em;
  }
}

.section__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60em;
}

.section__h1 {
  align-self: flex-start;
  margin-bottom: 2em;
  font-size: 3em;
}

.section__subtitle {
  align-self: flex-start;
  padding: 0.2em 0.5em;
  margin-bottom: 4em;
  background-color: #282b38;
  color: #fbeef3;
  font-weight: 500;
}

body {
  color: transparent;
  animation: color 1s steps(50) 0s 1 normal both;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #282b38;
  z-index: 1000;
}

.nav__a {
  font-size: 1.2em;
  padding: 1em 1em;
}

.nav__a:hover {
  color: #282b38;
  background-color: #fbeef3;
}

.nav__a--brand {
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .nav__a--brand {
    margin-right: 0;
  }
}

.collapse {
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0;
  background-color: #282b38;
  transition: width 0.2s ease-in 0s;
}

@media screen and (min-width: 768px) {
  .collapse {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: fit-content;
    overflow: visible;
  }
}

.collapse:target {
  display: block;
  position: absolute;
  width: 100vw;
  transition: width 0.2s ease-in 0s;
}

.collapse__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .collapse__header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .collapse-btn {
    display: none;
  }
}

.dropdown__btn {
  width: 100%;
  text-align: start;
}

.dropdown__content {
  display: none;
  position: relative;
  right: 0;
  background-color: transparent;
  padding: 0 1em;
  min-width: 160px;
  border-left: 2px solid #e1d294;
}

@media screen and (min-width: 768px) {
  .dropdown__content {
    position: absolute;
    background-color: #282b38;
    padding: 0;
    border-left: 0;
    border-right: 2px solid #e1d294;
    border-radius: 0 0 3px 3px;
    text-align: end;
  }
}

.headline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2em;
  padding: 4em;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0em;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.content__photo {
  width: 100%;
  max-width: 20em;
  animation: blop 0.1s steps(50) 0.2s 1 normal both;
}

.content__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
}

.content__pretitle {
  display: block;
  margin-bottom: 0.5em;
  width: 0;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  background-color: #fbeef3;
  color: #282b38;
  border-right: 0.15em solid transparent;
  animation: typing 2s steps(30) 1s 1 normal both, blink-3s 3s steps(1);
}

.content__h1 {
  display: block;
  width: 0;
  max-width: fit-content;
  min-height: 1em;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 0.1em;
  border-right: 0.15em solid transparent;
  animation: typing 2.5s steps(18) 3s 1 normal both, blink-3s 3s steps(1) 2s;
}

.content__subtitle {
  display: block;
  width: 0;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent;
  animation: typing 2s steps(30) 5.5s 1 normal both, blink 1s steps(1) 4.5s infinite;
}

@keyframes blop {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-3s {
  0% {
    border-color: #282b38;
  }
  16% {
    border-color: #fbeef3;
  }
  32% {
    border-color: #282b38;
  }
  48% {
    border-color: #fbeef3;
  }
  64% {
    border-color: #282b38;
  }
  80% {
    border-color: #fbeef3;
  }
}

@keyframes blink {
  0% {
    border-color: #282b38;
  }
  50% {
    border-color: #fbeef3;
  }
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0em;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .social {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}

.social__div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

@media screen and (min-width: 768px) {
  .social__div {
    grid-column: 2;
  }
}

.social__a {
  font-size: 1.75em;
  color: transparent;
  animation: color 1s steps(50) 8s 1 normal both;
}

@keyframes color {
  from {
    color: transparent;
  }
  to {
    color: #fbeef3;
  }
}

.social__logo {
  width: auto;
}

.social__logo:hover {
  color: #e1d294;
}

.bio {
  background-color: #fbeef3;
  color: #282b38;
  display: flex;
  flex-direction: column;
  padding-bottom: 15em;
}

.bio__p {
  max-width: 40em;
  margin-bottom: 2em;
}

.works {
  background-color: #fbeef3;
  color: #282b38;
  border-top: 0.5em dashed burlywood;
}

.works__container {
  padding: 2em;
  margin-top: -15em;
  background-color: burlywood;
  border-radius: 10px;
}

.gallery {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 4em 4em 4em;
  }
}

.card {
  position: relative;
  overflow: hidden;
  min-height: 10em;
  min-width: 15em;
  max-width: 40em;
  aspect-ratio: 16 / 10;
  border-radius: 10px;
  line-height: 1.8em;
  transition: 0.2s ease-in 0s, color 0.2s ease-in 0s;
}

@media screen and (min-width: 768px) {
  .card:hover > .card__thumb {
    transform: scale(1.1);
    opacity: 0;
    transition: 0.2s ease-in 0s;
  }
  .card:hover > .card__hover {
    opacity: 1;
    transition: 0.2s ease-in 0s;
  }
}

.card__thumb {
  position: absolute;
  transform: scale(1);
  border-radius: 10px;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .card__thumb {
    opacity: 1;
    transition: 0.2s ease-in 0s;
  }
}

.card__hover {
  position: absolute;
  border-radius: 10px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .card__hover {
    opacity: 0;
    transition: 0.2s ease-in 0s;
  }
}

.contact {
  background-color: #fbeef3;
  color: #282b38;
}

.contact__h1 {
  margin-bottom: 0.5em;
}

.form__input {
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 2px dashed burlywood;
  color: #282b38;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.form__input:focus, .form__input[type]:focus {
  transform: translate(-0.3em, -0.3em);
  border-color: #489279;
  box-shadow: 0.4em 0.4em rgba(72, 146, 121, 0.6);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.form__input::placeholder {
  color: #489279;
}

@media screen and (min-width: 768px) {
  .form__input {
    width: fit-content;
  }
  .form__input--textarea {
    width: 100%;
  }
}

.form__button {
  padding: 0.5em 1em;
  margin-top: 1em;
  color: rgba(72, 146, 121, 0.6);
  border-radius: 5px;
  border: 2px dashed burlywood;
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.form__button:hover {
  border: 2px dashed burlywood;
  border-color: #489279;
  transform: translate(-0.3em, -0.3em);
  box-shadow: 0.4em 0.4em rgba(72, 146, 121, 0.6);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.form__fieldset {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}

.footer {
  background-color: #282b38;
  border-top: 1em solid burlywood;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0em;
  padding: 2em 1em;
  justify-content: center;
  align-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.footer__section--thanks {
  padding: 1em;
  text-align: center;
  border-bottom: 0.2em solid rgba(72, 146, 121, 0.6);
}

@media screen and (min-width: 768px) {
  .footer__section--thanks {
    text-align: end;
    border-right: 0.2em solid rgba(72, 146, 121, 0.6);
    border-bottom: none;
  }
}

.footer__text {
  font-weight: 200;
}

.footer__section--social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 0.5em 0;
  padding: 1em;
}

@media screen and (min-width: 768px) {
  .footer__section--social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
  }
}

.footer__sm {
  font-size: 2em;
}

.show {
  display: block;
}

a:hover {
  color: #e1d294;
}

.text--monospace {
  font-family: "Courier New", Courier, monospace;
}
