/*
    RESET
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

// Colors
$colors: (
    '8' : #e9e9ea,
    '9' : #3E4C59,
    '10' : rgb(255, 91, 121),
    '11' : #BF4B60,
    'light' : #ffffff,
    'dark' : #2e343a
);

// Fonts
$fonts: (
    'primary' : ('Montserrat', sans-serif)
);

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }

// Variables
$color-light            : map-get($colors, 'light');
$color-dark             : map-get($colors, 'dark');
$color-primary          : map-get($colors, '9');
$color-secondary        : map-get($colors, '8');
$color-high             : map-get($colors, '10');
$color-primary-dark     : map-get($colors, '8');
$color-secondary-dark   : map-get($colors, '9');
$color-high-dark        : map-get($colors, '11');
$color-link             : map-get($colors, '11');
$color-link-dark        : map-get($colors, '10');


// Fonts
$font-primary: map-get($fonts, 'primary');


// Dark mode

$darkMode: true; // Enable dark mode detection

@mixin darkMode {
    @if($darkMode) {
        @media (prefers-color-scheme: dark) {
            @content;
        }
    }
}

// High Contrast
@media (prefers-contrast: high) {
    :root {
    $color-font: black;
    $color-background: white;
    }
}

// Reduce Motions
@media (prefers-reduced-motion: reduce) {

    // Better complete selector
    * {
        animation: none;
        transition: none;
    }
}

// Margins and paddings
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

// Img problems
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* optional */
    object-fit: cover;
    /* optional */
    object-position: center center;
}

// Reset <a>
a {
    display: block;
}

// ... Not in <p>
p a {
    display: inline;
}

// Remove <li> dots
li {
    list-style-type: none;
}

// Soft anchors
html {
    scroll-behavior: smooth;
}

// Deactivate default styles
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

// Pseudo
blockquote::before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

// Select text
::selection {
    background-color: $color-dark;
    color: $color-light;
}

// Typography and forms
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    /* optional */
    appearance: none;
}

// Input Focus
textarea:focus,
input:focus,
input[type]:focus {
    outline: 0 none;
}

// Reset tables
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

// SVG problems
svg {
    // width: 100%;
    display: block;
    pointer-events: none; // To fix the click event
    // fill: currentColor;
}

// General Typo
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: $font-primary;
    color: $color-primary;
    background-color: $color-primary;
    /* optional */
    // line-height: 1.4em;
    /* optional */
    hyphens: auto;
    /* optional */
    font-smooth: always;
    /* optional */
    -webkit-font-smoothing: antialiased;
    /* optional */
    -moz-osx-font-smoothing: grayscale;

    @include darkMode(){
        color: $color-primary-dark;
        background-color: $color-primary-dark;
    }
}



