/*
    RESET
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

// Colors
$colors: (
    '1' : #FFEACE,
    '2' : #E6D3BA,
    '3' : #BFB09B,
    '4' : #807567,
    '5' : #403B34,
    '6' : #66727b,
    '7' : #343B40,
    'light' : #FFF5E8,
    'dark' : black
);

// Fonts
$fonts: (
    // 'primary'   : (Verdana, Geneva, Tahoma, sans-serif),
    'titular' : ('Montserrat', sans-serif),
    'primary' : ('Lora', serif),
    'ultra'   : ('Teko', sans-serif)
);

// Variables
$color-1        : map-get($colors, '1');
$color-2        : map-get($colors, '2');
$color-3        : map-get($colors, '3');
$color-4        : map-get($colors, '4');
$color-5        : map-get($colors, '5');
$color-6        : map-get($colors, '6');
$color-7        : map-get($colors, '7');
$color-light    : map-get($colors, 'light');
$color-dark     : map-get($colors, 'dark');


// Fonts
$font-primary: map-get($fonts, 'primary');
$font-titular: map-get($fonts, 'titular');
$font-ultra: map-get($fonts, 'ultra');

$color-font: $color-4;
$color-background: $color-5;

// Dark mode
@media (prefers-color-scheme: light) {
    // :root {
    $color-background: $color-1;
    $color-font: $color-5;
    // }
}

// High Contrast
@media (prefers-contrast: high) {
    :root {
    $color-font: black;
    $color-background: white;
    }
}

// Reduce Motions
@media (prefers-reduced-motion: reduce) {

    // Better complete selector
    * {
        animation: none;
        transition: none;
    }
}

// Margins and paddings
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

// Img problems
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* optional */
    object-fit: cover;
    /* optional */
    object-position: center center;
}

// Reset <a>
a {
    display: block;
}

// ... Not in <p>
p a {
    display: inline;
}

// Remove <li> dots
li {
    list-style-type: none;
}

// Soft anchors
html {
    scroll-behavior: smooth;
}

// Deactivate default styles
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

// Pseudo
blockquote::before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

// Select text
::selection {
    background-color: $color-dark;
    color: $color-light;
}

// Typography and forms
form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
    /* optional */
    appearance: none;
}

// Input Focus
textarea:focus,
input:focus,
input[type]:focus {
    outline: 0 none;
}

// Reset tables
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

// SVG problems
svg {
    // width: 100%;
    display: block;
    fill: currentColor;
}

// General Typo
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: $font-primary;
    color: $color-font;
    background-color: $color-background;
    /* optional */
    // line-height: 1.4em;
    /* optional */
    hyphens: auto;
    /* optional */
    font-smooth: always;
    /* optional */
    -webkit-font-smoothing: antialiased;
    /* optional */
    -moz-osx-font-smoothing: grayscale;
}



