// MIXINS
@mixin responsive($width: 768px) {

    @media screen and (min-width: $width) {
        @content;
    }

}

@mixin flex($direction: column, $wrap: wrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columns: 1, $rows: 1, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}

#root {
    @include flex(column, nowrap, flex-start, center);

}

// GLOBAL
.h1,
.h2,
.h3 {
    margin: 1em 0 0.5em 0;
}

.h1 {
    font-size: 2rem;
    @include responsive() {
        font-size: 3em;
    }
}

.h2 {
    font-size: 2rem;
    text-transform: uppercase;

    @include responsive() {
        font-size: 2.5em;
    }
}

.h3 {
    font-size: 1.4rem;

    @include responsive() {
        font-size: 1.8em;
    }
}

b {
    font-weight: bold;
}

i {
    font-style: oblique;
}

.a {
    width: fit-content;
    color: $color-link;

    @include darkMode() {
        color: $color-link-dark;
    }

    &:hover {
        color: $color-high;
        @include darkMode() {
            color: $color-secondary;
        }
        
    }
    
    &:hover .react-icons {
        fill: $color-high;
        @include darkMode() {
            fill: $color-secondary;
        }

    }
}

.img {
    opacity: 90%;
    z-index: 0;

    @include darkMode() {
        opacity: 80%;
    }
}

.react-icons {
    vertical-align: middle;
    align-self: center;
    fill: $color-primary;

}

// HEADLINE

.headline {

    height: 100vh;
    width: 100%;
    background-color: $color-primary;
    overflow: hidden;
    opacity: 0;

    padding: 1em;

    @include flex(column, nowrap, center, center);
    position: relative;

    animation: appear 0.5s ease-in-out 0s forwards;

    @include darkMode {
        background-color: $color-primary-dark;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: $color-secondary;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @include darkMode {
            background-color: $color-secondary-dark;
        }
    }

    &:before {
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 10s;
    }

    &:after {
        bottom: 12vh;
        opacity: .5;
        border-radius: 47%;
        animation-duration: 10s;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }

    50% {
        transform: translate(-50%, -2%) rotateZ(180deg);
    }

    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}


.headline__h1 {
    text-align: center;
    text-transform: uppercase;
    hyphens: none;
    color: $color-primary;
    opacity: 0;

    margin: 1em 0;

    z-index: 1;

    &--top {
        animation: appear 0.5s ease-in-out 1s forwards;
    }

    &--bottom {
        animation: appear 0.5s ease-in-out 1.5s forwards;
    }

    @include darkMode {
        color: $color-primary-dark;
    }

}

.line {
    height: 1px;
    width: 80vw;
    border: 0.5px solid black;
    opacity: 0;


    z-index: 1;

    animation: appear 0.5s ease-in-out 0.5s forwards;
}

.swipe-up {
    color: $color-secondary;
    opacity: 0;

    margin: 1em;

    position: absolute;
    bottom: 0;

    @include flex(column, nowrap, center, center);
    gap: 0.2em;

    animation: appear 0.5s ease-in-out 2s forwards;

    @include darkMode {
        color: $color-secondary-dark;
    }


    & .react-icons {
        animation: move 1s ease-in-out 0s infinite;
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(3px);
    }
}

// HEADER

.header {
    width: 100%;

    position: sticky;
    position: -webkit-sticky;
    top: -1px;

    z-index: 1;

    @include darkMode() {
        border-color: $color-primary-dark;
    }

}


//... NAVIGATION

.nav {

    width: 100%;

    &__a {
        width: 100%;
        height: 100%;
        padding: 1em;
        color: inherit;


        @include flex(row, nowrap, space-between, center)
    }

    &__a--drop {
        justify-content: end;
    }

    &__ul {
        width: 100%;
        height: 100vh;
        background-color: $color-secondary;
        border-bottom: 1px solid $color-primary;
        -webkit-box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.4);


        display: none;
        position: absolute;

        @include darkMode() {
            background-color: $color-secondary-dark;
            border-color: $color-primary-dark;
        }
    }

    &__dropdown {
        display: none;
    }

}

.collapser {

    @include flex(row, nowrap, space-between, center);

    &__btn {
        height: 4em;

        @include flex(row, nowrap, flex-end, center);
    }

    &__btn .react-icons {
        fill: transparent;
        opacity: 90%;
        transition: fill .5s ease-in-out 0s;
    }
}

.logo {
    width: 2em;
    height: 2em;

    & path {
        fill: transparent;
        opacity: 90%;

        transition: fill .5s ease-in-out 0s;

    }

}

.figure {
    width: fit-content;
    display: flex;
}

.isSticky .react-icons,
.isSticky path {
    fill: $color-primary;
    transition: fill .5s ease-in-out 0s;

    @include darkMode {
        fill: $color-primary-dark;
    }
}

// MAIN

.main {
    width: 100%;
    text-align: center;
    background-color: $color-secondary;

    padding: 0;

    @include flex(column, nowrap, center, center);

    @include darkMode {
        background-color: $color-secondary-dark;
    }
}

.section {
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    padding: 2em;

    @include flex(column, nowrap, center, center);

    @media screen and (max-width: 280px) {
        padding: 2em .2em
    }

    @include responsive() {
        min-height: 80vh;
    }
}


// // WORKS
.section--works {
    width: 100%;
    min-height: fit-content;

    // padding: 0;

    @include darkMode {

        background-color: $color-primary;
    }
}

.svg-box {
    width: 100%;

    align-self: flex-end;
    justify-self: flex-end;


    & line {
        stroke: $color-primary;

        @include darkMode() {
            stroke: $color-primary-dark;
        }
    }
}

.works {

    &__p {

        align-self: flex-start;
    }
}

.article {
    background-color: $color-secondary;
    width: 100%;


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;

    @include darkMode() {
        background-color: $color-secondary-dark;
    }

    &__h3 {
        text-align: center;

        margin: 1rem;

        justify-self: center;
        align-self: center;

    }

    &__ul {
        font-size: 1.2em;

        margin: 1rem;

        @include responsive() {
            font-size: 1.6em;
        }

    }

    &__ul-social {
        font-size: 1.2em;

        margin: 1rem;

        @include flex(column, nowrap, center, flex-start);
        justify-self: flex-start;
        gap: 1em;

        @include responsive() {
            font-size: 1.6em;
        }
    

    }

    &__link {
        @include flex(row, nowrap, center, center);
    }

    &__link .react-icons{
        fill: $color-link;
        @include darkMode {
            fill: $color-link-dark;
        }
    }

    .article__h3 {

        grid-row: 1 / 2;
        grid-column: 1 / 3;
        justify-self: center;
    }

    .article__ul {
        text-align: end;

        grid-row: 2 / 3;
        grid-column: 1 / 2;
        justify-self: end;
        align-self: center;
    }

    .article__ul-social {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

}


// BIO

.bio {

    &__pic {
        max-width: 7em;

        margin: 0 0 1em 1em;

        float: right;
    }

    &__h2 {
        margin: 0 0 1rem;
    }

    &__p {

        margin: 0 0 1em;

        text-align: left;


        @include responsive() {
            font-size: 1.2em;
            line-height: 1.4em;
        }
    }
}

.social {
    width: 100%;

    @include flex(row, wrap, center, center);

    &__li {
        margin: 0 1em;

    }

    &__a .react-icons {
        width: 2em;
        fill: $color-primary;
        @include darkMode {
            fill: $color-primary-dark;
        }

        @include responsive() {
            width: 3em;
        }
    }

    &__a:hover .react-icons {
        fill: $color-high;

    }
}


// CONTACT
.section--contact {
    border-top: 0.5rem dotted $color-high;
}

.h2__contact {
    margin-bottom: 1rem;
}

.form {

    position: relative;

    @include responsive() {
        width: 20em;
        font-size: 1.2em;
    }

    &__input {
        width: 100%;
        border: 1px dashed $color-primary;
        border-radius: 5px;

        margin-bottom: 1em;
        padding: 0.5em;

        @include responsive() {
            border: 2px dashed $color-primary;
        }

        @include darkMode() {
            border-color: $color-primary-dark;
        }

        &::placeholder {
            color: $color-primary;

            @include darkMode() {
                color: $color-primary-dark;
            }
        }
    }
}

// FOOTER

.footer {
    width: 100%;
    text-align: center;
    background-color: $color-secondary;

    padding: 2em 0;

    @include responsive() {
        font-size: 1.2em;

    }

    @include darkMode {
        background-color: $color-secondary-dark;
    }
}