// MIXINS
@mixin responsive($width: 768px) {

    @media screen and (min-width: $width) {
        @content;
    }

}

@mixin flex($direction: column, $wrap: wrap, $justify: center, $align: center) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid($columns: 1, $rows: 1, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 1fr);
    gap: $gap;
}

#root {
    
    @include flex(column, nowrap, flex-start, center);

}

// GLOBAL
.h1,
.h2,
.h3 {
    margin: 1em 0 0.5em 0;
}

.h1 {
    font-size: 1.8rem;
}

.h2 {
    font-size: 1.6rem;
}

.h3 {
    font-size: 1.4rem;
}

b {
    font-weight: bold;
}

i {
    font-style: oblique;
}

.a {
    width: fit-content;
    color: $color-link;

    @include darkMode() {
        color: $color-link-dark;
    }

    &:hover {
        color: $color-high;
    }
}

.img {
    mix-blend-mode:darken;
    opacity: 90%;
    
    @include darkMode() {
        mix-blend-mode:normal;
        opacity: 80%;
    }
}

.react-icons {
    vertical-align: middle;
    align-self: center;
    fill: $color-primary;

    z-index: -1;
}

// HEADER

.header {
    width: 100%;
    background-color: $color-primary;

    position:sticky;
    position:-webkit-sticky;
    top: 0;

    @include darkMode() {
        border-color: $color-primary-dark;
    }

}

// HEADLINE

.headline {
    height: 100vh;
    background-color: $color-primary;
    overflow: hidden;
    opacity: 0;

    justify-content: flex-start;
    position: relative;

    animation: appear 1s ease-in-out 0s forwards;

    &:before,
    &:after {
            content: "";
            position: absolute;
            left: 50%;
            min-width: 300vw;
            min-height: 300vw;
            background-color: $color-secondary;
            animation-name: rotate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    
    &:before {
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 10s;
    }

    &:after {
        bottom: 12vh;
        opacity: .5;
        border-radius: 47%;
        animation-duration: 10s;
    }
}

@keyframes rotate {
  0% {transform: translate(-50%, 0) rotateZ(0deg);}
  50% {transform: translate(-50%, -2%) rotateZ(180deg);}
  100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}


.headline__h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: $color-primary;
    opacity: 0;

    margin: 1em 0;

    z-index: 1;

    &--top {
        animation: appear 1s ease-in-out 2s forwards;
    }
    
    &--bottom {
        animation: appear 1s ease-in-out 3s forwards;
    }
    
}

.line {
    height: 1px;
    width: 80vw;
    border: 0.5px solid black;
    opacity: 0;


    z-index: 1;

    animation: appear 1s ease-in-out 1s forwards;
}

.swipe-up {
    color: white;
    opacity: 0;

    margin: 1em;

    position: absolute;
    bottom: 0;

    @include flex(column, nowrap, center, center);
    gap: 0.2em;

    animation: appear 1s ease-in-out 4s forwards;

    & .react-icons {
        animation: move 1s ease-in-out 0s infinite;
    }
}

@keyframes appear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
  }
@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3px);
    }
  }


//... NAVIGATION

.nav {
    width: 100%;


    z-index: 0;

    &__a {
        width: 100%;
        height: 100%;
        padding: 1em;
        text-align: start;
        color: inherit;

        @include flex(row, nowrap, space-between, flex-start)

        
    }

    &__ul {
        width: 100%;
        background-color: $color-secondary;
        border-bottom: 1px solid $color-primary;
        -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);


        display: none;
        position: absolute;

        // z-index: 0;

        @include darkMode() {
            background-color: $color-secondary-dark;
            border-color: $color-primary-dark;
        }
    }

    &__dropdown {
        display: none;
    }

}

.collapser {

    border-bottom: 1px solid $color-primary;
    @include flex(row, nowrap, space-between, center);

    @include darkMode() {
        border-color: $color-primary-dark;
    }

    &__btn {
        height: 4em;

        @include flex(row, nowrap, flex-end, center);
    }

    &__btn .react-icons{
        fill: $color-secondary;
    }
}

.logo {
    width: 2em;
    height: 2em;

    & path {
        fill: $color-secondary;
        
        @include darkMode() {
            fill: $color-primary-dark;
            
        }
    }

}

.figure {
    width: fit-content;
    display: flex;
}

// MAIN

.main {
    width: 100%;
    text-align: center;

    padding: 0;
}

.section {
    width: 100%;
    min-height: 60vh;
    padding: 1em;

    @include flex(column, nowrap, center, center);
}


// // WORKS
.section--works {
    width: 100%;
    min-height: fit-content;
    background-color: $color-secondary;

    padding: 0;

}

.svg-box {
    width: 100%;

    align-self: flex-end;
    justify-self: flex-end;


    & line {
        stroke: $color-primary;

        @include darkMode() {
            stroke: $color-high;
        }
    }
}

.works {
    &__h2 {
        margin: 1em 0;

        align-self: center;
    }

    &__p {

        align-self: flex-start;
    }
}

.article {
    background-color: $color-secondary;

    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include darkMode() {
        background-color: $color-secondary-dark;
    }
    
    &__h4 {
        font-size: 1.4em;
        text-align: start;

        margin: 1rem;

        justify-self: center;
        align-self: center;

        @include responsive() {
            font-size: 2em;
        }

    }

    &__ul {
        font-size: 1.2em;

        margin: 1rem;

        @include responsive() {
            font-size: 2em;
        }

    }

    &__ul-social{
        font-size: 1.2em;

        margin: 1rem;

        @include flex(column, nowrap, center,flex-start);
        justify-self: center;
        gap: 1em;

        @include responsive() {
            font-size: 2em;
        }

    }

    &__link{
        @include flex(row, nowrap, center, center);
    }

    &__img {
        max-height: 50vh;
    }

    // &:nth-child(odd) {
        .article__h4 {
       
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            justify-self: start;
        }
        .article__ul {
            text-align: start;
    
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            justify-self: start;
            align-self: center;
        }

        .article__ul-social{
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
    
        .article__img {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;
            align-self: end;
        }
    // }

    &:nth-child(even) {
        .article__h4 {
    
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            justify-self: center;
        }
        
    
        .article__ul-social{
            justify-self: center;
        }

        .article__img {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            
        }
    }
    
}


// BIO

.bio {

    &__pic{
        max-width: 7em;

        float: right;
    }

    &__h2 {
        margin: 0 0 1rem;
    }

    &__p {
        max-width: 960px;

        margin: 0 0 1em;
        
        text-align: left;


        @include responsive() {
            font-size: 1.2em;
        }
    }
}

.social {
    width: 100%;

    @include flex(row, wrap, center, center);

    &__li {
        margin: 0 1em;

    }
}


// CONTACT
.h2__contact {
    margin-bottom: 1rem;
}
.form {

    position: relative;

    @include responsive() {
        width: 20em;
        font-size: 1.2em;
    }

    &__input {
        width: 100%;
        // color: $color-font;
        border: 1px dashed $color-primary;
        border-radius: 5px;

        margin-bottom: 1em;
        padding: 0.5em;

        @include responsive() {
            border: 2px dashed $color-primary; 
        }

        @include darkMode() {
            border-color: $color-primary-dark;
        }

        &::placeholder {
            color: $color-primary;
            @include darkMode() {
                color: $color-primary-dark;
            }
        }
    }
}

// FOOTER

.footer {
    text-align: center;
    
    padding: 2em 0;
    
    @include responsive() {
        font-size: 1.2em;

    }
}