// MIXINS
@mixin responsive($width: 768px) {

    @media screen and (min-width: $width) {
        @content;
    }

}

@mixin flex( $direction , $wrap , $just , $align ) {
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $just;
    align-items: $align;
}

@mixin grid( $columns , $space ){
    display                 : grid;
    grid-template-columns   : 1fr;
    gap                     : 0em;

    @include responsive( 768px ) {
        grid-template-columns   : repeat( $columns, 1fr );
        gap                     : $space;
    }
}

// Typo
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }
b { font-weight: bold;}
i { font-style: oblique;}

body {
    @include responsive( 768px ) {
        font-size: 1.1rem;
    }
}


// SECTIONS

.section {
    @include flex(column, nowrap, center, center);
    padding: 4em 2em;

    @include responsive (768px) {
        padding: 4em;
    }

    &__container {
        @include flex(column, nowrap, center, center);
        position: relative;
        width: 100%;
        max-width: 60em;
    }
    
    &__h1 {
        align-self: flex-start;
        margin-bottom: 2em ;
        font-size: 3em;
    }

    &__subtitle {
        align-self: flex-start;
        padding: 0.2em 0.5em;
        margin-bottom: 4em;
        background-color: $color-primary;
        color: $color-secondary;
        font-weight: 500;
    }
}
