// FORM
.button {
    color: $color-primary;
    
    cursor: pointer;

    padding: 0.5em;

    @include darkMode() {
        color: $color-primary-dark;
    }

    &:hover {
        color: $color-high;
    }
}

.alert {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;    
    
    padding: 0.5em;
    
    position: absolute;
    right: 0;
    bottom: 0;

    transition: .2s ease-in 0s;

    &--active {
        display: block;
        width: 9em;
        color: inherit;

        transition: .2s ease-in 0s;
    }

    &--fail {
        color: rgb(164, 93, 93);
    }
}