
// UTILS
body {
    color: transparent;
    animation: color 1s steps(50) 0s 1 normal both;
}

.button {
    padding: 0.5em 1em;
    margin-top: 1em;
    width: fit-content;
    color: $color-dark-secondary;
    border-radius: 5px;
    border: 2px dashed $color-primary;
    transition: transform .2s cubic-bezier(.34, 1.56, .64, 1),
        box-shadow .2s cubic-bezier(.34, 1.56, .64, 1);

    &:hover {
        border-color: $color-complementary;
        transform: translate(-.3em, -.3em);
        box-shadow: 0.4em 0.4em $color-primary;
        transition: transform .2s cubic-bezier(.34, 1.56, .64, 1),
            box-shadow .2s cubic-bezier(.34, 1.56, .64, 1);
    }
}

// HEADER
.nav {

    @include flex(row, nowrap, center, center);
    position: fixed;
    width: 100vw;
    background-color: $color-dark-secondary;
    z-index: 1000;

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__a {
        font-size: 1.2em;
        padding: 1em 1em;

        &:hover {
            color: $color-dark;
            background-color: $color-light;
        }

        &--brand {
            max-width: 48px;
            margin-right: auto;
            padding: 0;
            margin-left: 0.5em;

            // @include responsive(768px) {
            //     display: flex;
            //     // margin-right: 0;
            //     justify-self: start;
            // }

            &:hover {
                background-color: transparent;
            }
            
        }
    }
}

.collapse {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: $color-dark-secondary;
    transition: width 0.2s ease-in 0s;

    @include responsive(768px) {
        @include flex(row, nowrap, center, center);

        position: relative;
        height: 100%;
        width: fit-content;
        overflow: visible;
    }

    &:target {
        display: block;
        position: absolute;
        width: 100vw;
        transition: width 0.2s ease-in 0s;
    }

    &__header {
        @include flex(row, nowrap, flex-end, center);

        @include responsive(768px) {
            display: none;
        }
    }

}

.collapse-btn {

    @include responsive(768px) {
        display: none;
    }
}

.dropdown {

    &__btn {
        width: 100%;
        text-align: start;
    }

    &__content {
        display: none;
        position: relative;
        right: 0;
        background-color: transparent;
        padding: 0 1em;
        min-width: 160px;
        border-left: 2px solid $color-primary;

        @include responsive(768px) {
            position: absolute;
            background-color: $color-dark-secondary;
            padding: 0;
            border-left: 0;
            border-right: 2px solid $color-primary;
            border-radius: 0 0 3px 3px;
            text-align: end;
        }
    }
}



// MAIN

// ... Headline
.headline {
    @include flex(column, nowrap, flex-start, center);
    position: relative;
    padding: 7em 0;
    gap: 2em;
    background-image: url("/src/img/bgHeadline.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: $color-dark-secondary;
    
    @include responsive(768px) {
        min-height: 100vh;

    }

}

.content {
    @include grid(2, 0);

    &__photo {
        max-width: 325px;
        overflow: hidden;
        aspect-ratio: 1 / 1;
        animation: blop 0.1s steps(50) 0.2s 1 normal both;
    }

    &__pic {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    &__text {
        @include flex (column, nowrap, center, center);
        font-size: 1.5em;
        line-height: 100%;
        width: 100%;
        margin: 0 auto;

        @include responsive(768px) {
            align-items: flex-end;
        }
    }

    &__pretitle {
        display: block;
        margin-bottom: 0.5em;
        width: 0;
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        background-color: $color-light;
        color: $color-dark;
        border-right: 0.15em solid transparent;
        animation: typing 2s steps(30) 1s 1 normal both, blink-3s 3s steps(1);
    }

    &__h1 {
        display: block;
        width: 0;
        max-width: fit-content;
        min-height: 1em;
        overflow: hidden;
        white-space: nowrap;
        padding-top: 0.1em;
        border-right: 0.15em solid transparent;
        animation: typing 2.5s steps(18) 3s 1 normal both, blink-3s 3s steps(1) 2s;
    }

    &__subtitle {
        display: block;
        width: 0;
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap;
        border-right: 0.15em solid transparent;
        animation: typing 2s steps(30) 5.5s 1 normal both, blink 1s steps(1) 4.5s infinite;
    }

    @keyframes blop {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes typing {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    @keyframes blink-3s {
        0% {
            border-color: $color-dark-secondary;
        }

        16% {
            border-color: $color-light;
        }

        32% {
            border-color: $color-dark-secondary;
        }

        48% {
            border-color: $color-light;
        }

        64% {
            border-color: $color-dark-secondary;
        }

        80% {
            border-color: $color-light;
        }
    }

    @keyframes blink {
        0% {
            border-color: $color-dark-secondary;
        }

        50% {
            border-color: $color-light;
        }
    }
}

.social {
    @include grid(3, 0);
    width: 100%;

    &__div {
        @include flex(row, nowrap, center, center);
        gap: 2em;

        @include responsive(768px) {
            grid-column: 2;
        }
    }

    &__a {
        font-size: 1.75em;
        color: transparent;
        animation: color 1s steps(50) 8s 1 normal both;
    }

    @keyframes color {
        from {
            color: transparent;
        }

        to {
            color: $color-light;
        }
    }

    &__logo {
        width: auto;

        &:hover {
            color: $color-complementary;
        }
    }

}


// ... Bio

.bio {
    // background-color: $color-background;
    color: $color-font;
    display: flex;
    flex-direction: column;

    &__p {
        max-width: 40em;
        margin-bottom: 2em;
    }
}


// ... Works

.works {
    // background-color: $color-background;
    color: $color-font;
    border-top: 0.5em dashed $color-primary;
}

.gallery {
    @include flex(column, nowrap, center, center);
    width: 100%;
    gap: 2em;

    @include responsive(768px) {
        padding: 0 4em;
    }
}

.card {
    @include flex(column, nowrap, center, center);
    width: 100%;
    padding: 0 0.5em;
    line-height: 1.8em;
    
    &__title {
        margin-bottom: 1em;
    }

    &__figure {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        max-width: 720px;
        height: fit-content;
        aspect-ratio: 3 / 2;
        box-shadow: 0.4em 0.4em $color-primary;

        // Problema border radius con transition en webkit
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);

        &:hover {
            @include responsive(768px) {
                
                & .card__img--thumb {
                    transform: scale(1.1);
                    opacity: 0;
                    transition: 0.2s ease-in 0s;
                }
                
                & .card__img--hover {
                    opacity: 1;
                    transition: 0.2s ease-in 0s;
                }
                
            }
        }
        cursor: pointer;
    }

    &__view {
        padding: 1em 0;
        margin: 0 auto;
        width: 100%;
        max-width: 720px;
        overflow: visible;
    }
    
    &__img {

        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        &--thumb {
            transform: scale(1);
            opacity: 1;
            transition: 0.2s ease-in 0s;
        }

        &--hover {
            opacity: 0;
            transition: 0.2s ease-in 0s;
        }
    }

}

.list__item {
    @include flex(row, nowrap, flex-start, center);
}

.list__icon {
    margin-right: 1em;
}

// ... Contact

.contact {
    // background-color: $color-background;
    color: $color-font;
    position: relative;

    &__h1 {
        margin-bottom: 0.5em;
    }

    &__container {
        @include grid(2, 2em);

    }

    &__text {
        align-self: flex-start;
        padding: 0.2em 0.5em;
        margin-bottom: 4em;
        // background-color: $color-background;
        color: $color-font;
        font-weight: 500;
    }


}

.alert {

    @include flex(row, nowrap, center, center);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.4em;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    color: transparent;
    transition: 0.2s ease-in 0s;

    &--active {
        width: 10em;
        // color: #3a7260;
        // border-left: 0.2em solid #489279;
        transition: 0.2s ease-in 0s;
    }

    &--success {
        color: #3a7260;
        background-color: #a7e6d1 !important;
        border-left: 0.2em solid #489279;
    }

    &--fail {
        color: #723a3a;
        background-color: #e6a7a7;
        border-left: 0.2em solid #924848;
    }
}


.form {
    position: relative;

    &__input {
        width: 100%;
        padding: 0.5em;
        border-radius: 10px;
        border: 2px dashed $color-primary;
        color: $color-font;
        transition: transform .2s cubic-bezier(.34, 1.56, .64, 1),
            box-shadow .2s cubic-bezier(.34, 1.56, .64, 1);


        &:focus,
        &[type]:focus {
            transform: translate(-.3em, -.3em);
            border-color: $color-complementary;
            box-shadow: 0.4em 0.4em $color-primary;
            transition: transform .2s cubic-bezier(.34, 1.56, .64, 1),
                box-shadow .2s cubic-bezier(.34, 1.56, .64, 1);

        }

        &::placeholder {
            color: $color-dark-secondary;
        }

        @include responsive(768px) {
            width: fit-content;

            &--textarea {
                width: 100%;
            }
        }

    }

    &__fieldset {
        @include flex(row, wrap, flex-start, center);
        gap: 1em;
        margin: 1em 0;
    }
}

// FOOTER

.footer {
    background-color: $color-dark;
    border-top: 1em solid $color-primary;

    @include grid(2, 0);
    padding: 2em 1em;
    justify-content: center;
    align-content: center;

    &__section--thanks {
        padding: 1em;
        text-align: center;
        border-bottom: 0.2em solid $color-dark-secondary;

        @include responsive(768px) {
            text-align: end;
            border-right: 0.2em solid $color-dark-secondary;
            border-bottom: none;
        }
    }

    &__text {
        font-weight: 200;

    }

    &__section--social {
        @include flex(row, nowrap, center, center);
        gap: 1em;
        margin: 0.5em 0;
        padding: 1em;

        @include responsive(768px) {
            @include flex(row, nowrap, flex-start, center);

        }

    }

    &__sm {
        font-size: 2em;
    }
}