// UTILITIES
.show {
    display: block;
}

// GLOBAL PSEUDO
a:hover {
    color: $color-primary;
}

// OTHERS
.text--monospace {
    font-family: $font-monospace;
}

// SVG

.svg__yellow-wave {
    position: relative;
    bottom: 0;
}