// UTILITIES
.show {
    display: block;
}

// BOX SVG
#eHifOhVAkn53_ts {
    animation: eHifOhVAkn53_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn53_ts__ts {
    0% {
        transform: scale(2, 4.55)
    }

    5% {
        transform: scale(2, 5)
    }
    55% {
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 4.55)
    }
}

#eHifOhVAkn54_ts {
    animation: eHifOhVAkn54_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn54_ts__ts {
    0% {
        transform: scale(2, 4.3)
    }

    5% {
        transform: scale(2, 5)
    }
    60% {
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 4.3)
    }
}

#eHifOhVAkn55_ts {
    animation: eHifOhVAkn55_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn55_ts__ts {
    0% {
        transform: scale(2, 4.1)
    }

    10% {
        transform: scale(2, 5)
    } 
    
    65% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 4.1)
    }
}

#eHifOhVAkn56_ts {
    animation: eHifOhVAkn56_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn56_ts__ts {
    0% {
        transform: scale(2, 3.65)
    }

    15% {
        transform: scale(2, 5)
    }
    
    70% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 3.65)
    }
}

#eHifOhVAkn57_ts {
    animation: eHifOhVAkn57_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn57_ts__ts {
    0% {
        transform: scale(2, 3.2)
    }

    20% {
        transform: scale(2, 5)
    }

    75% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 3.2)
    }
}

#eHifOhVAkn58_ts {
    animation: eHifOhVAkn58_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn58_ts__ts {
    0% {
        transform: scale(2, 2.75)
    }

    25% {
        transform: scale(2, 5)
    }

    80% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 2.75)
    }
}

#eHifOhVAkn59_ts {
    animation: eHifOhVAkn59_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn59_ts__ts {
    0% {
        transform: scale(2, 2.3)
    }

    30% {
        transform: scale(2, 5)
    }

    85% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 2.3)
    }
}

#eHifOhVAkn510_ts {
    animation: eHifOhVAkn510_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn510_ts__ts {
    0% {
        transform: scale(2, 1.85)
    }

    35% {
        transform: scale(2, 5)
    }

    90% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 1.85)
    }
}

#eHifOhVAkn511_ts {
    animation: eHifOhVAkn511_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn511_ts__ts {
    0% {
        transform: scale(2, 1.4)
    }

    40% {
        transform: scale(2, 5)
    }

    95% {
        
        transform: scale(2, 0.5)
    }

    100% {
        transform: scale(2, 1.4)
    }
}

#eHifOhVAkn512_ts {
    animation: eHifOhVAkn512_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn512_ts__ts {
    0% {
        transform: scale(2, 0.95)
    }

    45% {
        transform: scale(2, 5)
    }

    100% {
        transform: scale(2, 0.95)
    }
}

#eHifOhVAkn513_ts {
    animation: eHifOhVAkn513_ts__ts 2000ms linear infinite normal forwards
}

@keyframes eHifOhVAkn513_ts__ts {
    0% {
        transform: scale(2, 0.5)
    }

    50% {
        transform: scale(2, 5)
    }

    100% {
        transform: scale(2, 0.5)
    }
}